In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("student-mat.csv")
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [3]:
data = data[['G1', "G2", "G3", 'studytime', "failures", 'absences']]
predict = 'G3'

In [5]:
X = np.array(data.drop(predict, axis=1))
y = np.array(data[predict])

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)
accuracy = linear_regression.score(X_test, y_test)
print(accuracy)

0.7583000680504282

In [12]:
predictions = linear_regression.predict(X_test)

for i in range(len(predictions)):
    print(X_test[i], "    ", predictions[i], "    ", y_test[i])

[8 9 2 0 2]      8.274633402470158      8
[6 5 2 0 6]      4.259074723204579      6
[10 11  2  0  4]      10.603409854816055      9
[10 11  4  0 10]      10.429856533309772      11
[10 11  2  0  6]      10.67512975869316      11
[18 18  4  0  6]      18.363671950155243      18
[17 16  2  0  0]      16.457726028151633      16
[ 6  6  2  1 13]      5.278530464879472      8
[14 13  1  0  8]      13.553377337525655      13
[ 9  9  2  2 15]      8.553300300289298      9
[11 12  3  1  4]      11.355046721311188      11
[5 6 2 0 6]      5.032488387521175      6
[ 6  5  1  1 14]      4.557775964111324      5
[13 14  2  0  0]      13.845554869765037      15
[8 7 2 3 0]      5.75336688653066      0
[9 9 2 0 8]      8.667350419060368      9
[ 7  6  1  0 18]      6.012278937270396      6
[15 14  3  2  4]      13.784682988527315      15
[14 14  3  0  4]      13.972195465909348      14
[15 14  3  0  2]      14.078032866991146      15
[11 13  4  0  6]      12.36591596906546      14
[ 8 10  2  0  0]      9.15388446786855      12
[13 13  2  0  2]      12.966303804366646      11
[ 6  6  2  2 22]      5.418735141155973      4
[8 7 2 0 4]      6.444411367796267      6
[10 10  2  0  2]      9.580718981663455      10
[7 6 1 1 0]      5.184264911205994      0
[9 8 4 0 2]      7.112506705015967      8
[11 11  2  0  2]      10.709247255897852      11
[12 13  2  0  2]      12.788746499407747      12
[16 15  4  0  7]      15.191504384349505      17
[12 12  2  0  6]      11.981215337886457      12
[12  0  3  2  0]      -0.20502230396054655      0
[ 8  9  1  1 38]      9.577413297656356      8
[15 16  1  0  4]      16.440407742556836      15
[ 8 10  1  0  0]      9.348240984437348      11
[14 13  1  0  6]      13.481657433648552      13
[ 8 10  1  0 12]      9.778560407699972      10
[10 13  4  0  6]      12.188358664106559      13
[13 13  3  0  7]      12.95124704749061      14
[8 7 1 0 0]      6.495328076610857      6
[14 12  2  1  8]      12.225514960510893      12
[ 8  8  1  0 30]      8.522097604042912      8
[11 13  1  1 10]      12.90989043535559      13
[15 15  3  0  0]      14.957283932389538      15
[10  9  3  0  7]      8.61469125551192      9
[ 8 10  2  0  4]      9.297324275622758      9
[10  9  4  0  0]      8.169315075373259      0
[6 5 2 1 0]      3.8613801204027993      0
[8 8 3 0 2]      7.129305916625864      10
[8 9 1 0 8]      8.684149630670264      10
[10  9  2  0  0]      8.558028108510854      0
[ 7  6  2  0 10]      5.531042805193183      6
[10  9  2  0 75]      11.247524503902248      9
[10  9  3  0  2]      8.435391495819161      9
[15 15  2  0  2]      15.223360352835437      16
[14 14  1  0  2]      14.28918859516984      13
[11 11  1  1  6]      10.864508689050389      10
[18 19  1  0  6]      19.897712469137133      19
[12 14  3  0  1]      13.509501000175892      15
[16 15  2  0 11]      15.72365722524131      15
[8 8 2 0 2]      7.323662433194661      8
[10 12  1  0  2]      11.677017436783245      12
[17 18  1  0  0]      18.55402448327142      18
[17 17  4  0  0]      17.019983964289537      18
[15 14  2  0  2]      14.272389383559943      14
[7 6 1 0 5]      5.54609956206922      7
[10 13  1  0  4]      12.699708309935847      14
[13 12  2  1  2]      11.832797943920681      12
[14 15  1  0  3]      15.276019516383885      16
[11 13  2  0  2]      12.611189194448846      14
[8 9 1 3 0]      7.849665341650448      10
[ 9  8  2  1 15]      7.784864222184268      8
[11 11  4  0  8]      10.535693934391569      10
[9 0 2 0 0]      -0.17826791992751678      0
[10 10  2  1  0]      9.326464186615883      0
[9 9 2 1 0]      8.197935912381485      0
[8 8 1 1 4]      7.407203962470096      8
[5 8 2 3 0]      6.171665940929456      7